    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Work</h2>
                    <p>You can view a selected portfolio of our work here.</p>
                    <a href="/gallery" class="btn btn-default btn-lg">View Portfolio</a>
                </div>
            </div>
        </div>
    </section>