<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav_unmain.html %}
    <section class="grid-wrapper" id="automotive">
        <div class="section-title">
            <h2>AUTOMOTIVE</h2>
        </div>
        {% for image in site.static_files %}
        {% if image.path contains 'img/gallery/automotive' %}
        {% if image.path contains 'resized_' %}
        {% unless image.path contains 'vert' %}
        <!--
        <div>
            <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="gallery-image" />
        </div>
        -->
        <div class="responsive">
            <div class="gallery">
                <img src="{{ site.baseurl }}{{ image.path }}" class="gallery-img" alt="image" width="600" height="400">
            </div>
        </div>
        {% endunless %}
        {% endif %}
        {% endif %}
        {% endfor %}

    </section>
    <section class="grid-wrapper" id="business">
        <div class="section-title">
            <h2>Business</h2>
        </div>
        {% for image in site.static_files %}
        {% if image.path contains 'img/gallery/business' %}
        {% if image.path contains 'resized_' %}
        {% unless image.path contains 'vert' %}
        <!--
        <div>
            <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="gallery-image" />
        </div>
        -->
        <div class="responsive">
            <div class="gallery">
                <img src="{{ site.baseurl }}{{ image.path }}" class="gallery-img" alt="image" width="600" height="400">
            </div>
        </div>
        {% endunless %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </section>
    {% include js.html %}
</body>

</html>
